.my-container {
  border: 1px solid red;
}

.my-row {
  border: 1px solid green;
}

.my-col {
  border: 1px solid blue;
}

#body {
  background-image: url(../images/bg.png);
}

.jumbotron {
  margin-top: 2rem;
  padding: 2rem;
}

/* Media Queries */
/* Rules when width <= 768px */
@media screen and (max-width: 768px) {
  #nav > div {
    justify-content: center !important;
  }
}

/* Rules when width > 768px */
@media screen and (min-width: 768px) {
  #content {
    padding: 0;
  }
}
